# =========================
# PYTHON / DJANGO
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# Pytest cache
.pytest_cache/

# VSCode / PyCharm
.vscode/
.idea/

# Virtual environments
venv/
env/
ENV/

# =========================
# NODE / REACT
# =========================
# dependencies
node_modules/

# production build
build/
dist/

# misc
.DS_Store
*.pem

# testing
coverage/
.nyc_output/


# =========================
# DOCKER
# =========================
# volumes & logs
docker-data/
docker-compose.override.yml

# =========================
# OS-SPECIFIC
# =========================
Thumbs.db
.DS_Store
ehthumbs.db
Icon?
